.grow {
	width: 200px;
	display: block;
}

.project-container {
	margin: 0 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.project-title {
    font-size: large;
    margin: 10px 0 0;
}

.image-size {
	max-width: 200px;
	max-height: 120px;
	padding: 5px 0px;
	overflow: hidden;
}

.project-links {
	display: flex;
	justify-content: space-evenly;
	margin: 10px 0 10px;
}

.card-link {
    transition: all 1s ease-in-out;
}


