@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Work+Sans&display=swap');

* {
	font-family: 'Work Sans', sans-serif;
}

h3,
h4 {
	font-family: 'Crimson Text', serif;
}


.imgcenter {
	margin: 0 25%;
}


@media only screen and (max-width: 600px) {
	.navtext {
		font-size: 80% !important; 
	}
	
	.sfull {
		margin: 5% 0;
	}
	
	.acenter {
		margin-top: 10%;
	}
	
	.cc-space {
		margin-top: 5%;
	}
	
	.pcenter {
		padding: 0 10%;
	}
	
	.vcenter {
		margin-top: 5%;
		padding: 15% 0;
	}

	.social {
		padding: 0 10% 0 0;
	}
} 

@media only screen and (min-width: 600px) {
	.acenter {
		margin-top: 5%;
	}
	
	.pcenter {
		padding: 0 10%;
	}
	
	.vcenter {
		margin-top: 5%;
		padding: 15% 0;
	}
	
	.social {
		padding: 0 10% 0 0;
		
	}
} 

@media only screen and (min-width: 1200px) {
	.vcenter {
		margin-top: 5%;
		padding: 15% 0;
	}
}